{
    "globalfields": {
        "home": "/home/user/",
    },
    "projects": [
        {
            "name": "Example project",
            "color": "#ffffff",
            "fields": {
                "path": "$home"
            },
            "windows": {
                "editor": "atom $path",
                "terminal": "gnome-terminal $path"
            },
            "terminals": {
                "runserver": {
                    "command": "echo foo",
                    "location": "$path"
                }
            },
            "enabled": true
        }
    ]
}
